<MudThemeProvider />
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        @* Top horizontal nav bar *@
        <article class="content px-4">
            @* Force expanded navbar *@
            <nav class="navbar navbar-expand bg-light" style="margin: -24px -24px auto; height: fit-content">
                <div class="container-fluid d-flex" style="max-height: 50px">
                    @* Restaurant icon *@
                    <a class="navbar-brand align-self-baseline" href="#">
                        <img src="images/icon.svg" alt="" width="50" height="45">
                    </a>
                    @* Remaining navbar icons (will be right aligned) *@
                    <div class="nav navbar-nav navbar-right" id="navbarSupportedContent">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            @* Drinks button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" @onclick="@NavigateToDrinks">
                                    <img src="images/drink-straw-svgrepo-com.svg" alt="" width="30" height="24">
                                    @* <div>Drinks</div> *@
                                </a>
                            </div>
                            @* Cart button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" @onclick="@NavigateToCart">
                                    <img src="images/cart-basket-ui-5-svgrepo-com.svg" alt="" width="30" height="24">
                                    @* <div>Cart</div> *@
                                </a>
                            </div>
                            @* Hamburger button *@
                            <div class="nav-item align-self-center">
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="images/hamburger-menu-svgrepo-com.svg" alt="" width="30" height="24">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            @* Popup triggered via Hamburger button *@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <MudButton @onclick="NavigateToSelectLanguage" Variant="Variant.Filled" Style="background-color: #1B6EC2; color: white">English</MudButton>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body-main">
                            <div class="modal-body-1">
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Text" Size="Size.Large" Style="width: 80%; height: 75px; font-size:16px; border-radius: 25px; color:black;">Order# 7:27pm</MudButton>
                            </div>
                            <div class="divider"></div>
                            <div class="modal-body-2">
                                <MudButton @onclick="NavigateToRequestHelpLockScreen" Variant="Variant.Filled" Style="width: 80%; height: 100px ; font-size: 20px; border-radius: 25px; color:white; background-color:#6C757D">Request Help</MudButton>
                                <div style="height:40px;"> </div>
                                <MudButton @onclick="@NavigateToReviewBill" Variant="Variant.Filled" Style="width: 80%; height: 100px; font-size: 20px; border-radius: 25px; background-color: #1B6EC2; color:white;">Review Bill</MudButton>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            @* Body of the page *@
            @Body
        </article>
    </main>
</div>

@if (ShowCart)
{
    <Cart hidden="" />
}

@if (ShowRefill)
{
    <RefillDrinks hidden="" />
}

@if (ShowOrders)
{
    <Orders hidden="" />
}

@code {
    private void NavigateToReviewBill()
    {
        NavigationManager.NavigateTo("/ReviewBill", forceLoad:true);
    }
    private void NavigateToSelectLanguage()
    {
        NavigationManager.NavigateTo("/SelectLanguage", forceLoad: true);
    }
    private void NavigateToRequestHelpLockScreen()
    {
        NavigationManager.NavigateTo("/RequestHelpLockScreen", forceLoad: true);
    }
    private void NavigateToCart()
    {
        NavigationManager.NavigateTo("/Cart", forceLoad: true);
    }
    private void NavigateToDrinks()
    {
        NavigationManager.NavigateTo("/Drinks", forceLoad: true);
    }
    



    [Parameter]
    public bool ShowRefill { get; set; } = false;
    [Parameter]
    public bool ShowCart { get; set; } = false;
    [Parameter]
    public bool ShowOrders { get; set; } = false;

    public void toggleRefill() => ShowRefill = !ShowRefill;
    public void toggleCart() => ShowCart = !ShowCart;
    public void toggleOrders() => ShowOrders = !ShowOrders;
}