@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        @* Top horizontal nav bar *@
        <article class="content px-4">
            @* Force expanded navbar *@
            <nav class="navbar navbar-expand bg-light" style="margin: -24px -24px auto; height: fit-content">
                <div class="container-fluid d-flex" style="max-height: 50px">
                    @* Restaurant icon *@
                    <a class="navbar-brand align-self-baseline" @onclick="@NavigateToHome">
                        <img src="images/icon.svg" alt="" width="50" height="45">
                    </a>
                    @* Remaining navbar icons (will be right aligned) *@
                    <div class="nav navbar-nav navbar-right" id="navbarSupportedContent">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            @* Drinks button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" @onclick="@NavigateToDrinks">
                                    <img src="images/drink-straw-svgrepo-com.svg" alt="" width="30" height="24">
                                    @* <div>Drinks</div> *@
                                </a>
                            </div>
                            @* Cart button *@
                            <div class="nav-item">
                                <a class="nav-link" aria-current="page" @onclick="@NavigateToCart">
                                    <img src="@cartIcon"  alt="" width="30" height="24">
                                    @* <div>Cart</div> *@
                                </a>
                            </div>
                            @* Hamburger button *@
                            <div class="nav-item align-self-center">
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img src="images/hamburger-menu-svgrepo-com.svg" alt="" width="30" height="24">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            @* Popup triggered via Hamburger button *@
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <select class="form-control" @bind="@selection">
                                @foreach (var lang in langs)
                                {
                                    <option value=@lang>@lang</option>
                                }
                            </select>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body-main">
                            <div class="modal-body-1">
                                <button class="order-button" @onclick="@NavigateToReviewBillPostPay">Order 1   7:27pm</button>
                                <button class="order-button" @onclick="@NavigateToReviewBillPostPay">Order 2   7:30pm</button>
                                <button class="order-button" @onclick="@NavigateToReviewBillPostPay">Order 3   7:35pm</button>
                                <button class="order-button" @onclick="@NavigateToReviewBillPostPay">Order 4   7:40pm</button>
                                <button class="order-button" @onclick="@NavigateToReviewBillPostPay">Order 5   7:45pm</button>
                             
                            </div>
                            <div class="divider" style="position: relative; top: 30px; opacity: 30%;"></div>
                            <div class="modal-body-2">
                                <button @onclick="@RequestHelp" Style="width: 80%; height: 100px ; font-size: 20px; border: none; border-radius: 10px; color:white; background-color:#6C757D">Request Help</button>
                                <div style="padding-top: 10px;color: darkred; text-align:center;" hidden="@requestHelpHidden">Help Requested, a waiter will be on their way shortly</div>
                                <div style="height:50px;"> </div>
                                <button @onclick="@NavigateToReviewBill" Style="width: 80%; height: 100px; font-size: 20px; border: none; border-radius: 10px; background-color: #1B6EC2; color:white;">Review Bill</button>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            @* Body of the page *@
            @Body
        </article>
    </main>
</div>

@if (ShowCart)
{
    <Cart hidden="" />
}

@if (ShowRefill)
{
    <RefillDrinks hidden="" />
}

@if (ShowOrders)
{
    <Orders hidden="" />
}

@code {
    List<string> langs = new List<string>() { "English", "Français", "Español", "吴语/吳語"};
    private string selection = "English";


    private void NavigateToReviewBill()
    {
        if (NavigationManager.Uri.Contains('@'))
        {
            String[] temp = NavigationManager.Uri.Split('?');
            NavigationManager.NavigateTo("/ReviewBill?" + temp[temp.Length - 1], forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/ReviewBill", forceLoad: true);
        }
    }

    private void NavigateToReviewBillPostPay()
    {
        if (NavigationManager.Uri.Contains('@'))
        {
            String[] temp = NavigationManager.Uri.Split('?');
            NavigationManager.NavigateTo("/ReviewBillPostPay?" + temp[temp.Length - 1], forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/ReviewBillPostPay", forceLoad: true);
        }
    }

    private void NavigateToSelectLanguage()
    {
        NavigationManager.NavigateTo("/SelectLanguage", forceLoad: true);
    }

    bool requestHelpHidden = true;
    async Task RequestHelp()
    {
        requestHelpHidden = false;
        await Task.Delay(5000);
        requestHelpHidden = true;
    }

    string cartIcon = "images/cart-basket-ui-5-svgrepo-com.svg";

    protected override void OnInitialized()
    {
        
        if (NavigationManager.Uri.Contains("@"))
        {
            cartIcon = "images/cart-basket-ui-4-svgrepo-com.svg";
        }
        else
        {
            cartIcon = "images/cart-basket-ui-5-svgrepo-com.svg";
        }
    }    

    private void NavigateToCart()
    {
        if (NavigationManager.Uri.Contains('@'))
        {
            String[] temp = NavigationManager.Uri.Split('?');
            NavigationManager.NavigateTo("/Cart?" + temp[temp.Length - 1], forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/Cart", forceLoad: true);
        }
        
    }

    private void NavigateToDrinks()
    {
        if (NavigationManager.Uri.Contains('@'))
        {
            String[] temp = NavigationManager.Uri.Split('?');
            NavigationManager.NavigateTo("/Drinks?" + temp[temp.Length - 1], forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/Drinks", forceLoad: true);
        }
    }

    private void NavigateToHome()
    {
        if (NavigationManager.Uri.Contains('@'))
        {
            String[] temp = NavigationManager.Uri.Split('?');
            NavigationManager.NavigateTo("/?" + temp[temp.Length - 1], forceLoad: true);
        } else
        {
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }


    [Parameter]
    public bool ShowRefill { get; set; } = false;
    [Parameter]
    public bool ShowCart { get; set; } = false;
    [Parameter]
    public bool ShowOrders { get; set; } = false;

    public void toggleRefill() => ShowRefill = !ShowRefill;
    public void toggleCart() => ShowCart = !ShowCart;
    public void toggleOrders() => ShowOrders = !ShowOrders;



    
}